* {
    font-family: 'Nunito', sans-serif;
    background-color: aliceblue;
}

input {
    background-color: white;
    color: black;
    padding: 15px;
    margin: 5px;
    border: 2px dashed blueviolet;
    box-shadow: 5px 5px 10px rgb(134, 32, 182);
}

.btn {
    background-color: blueviolet;
    padding: 15px 25px;
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgb(59, 59, 59);
}

#formTarjetaCredito,
#formPayPal,
#formBizum {
    display: none;
}

h3 {
    text-align: center;
}

@media screen and (min-width:767px) {

    #formulario {
        width: 40%;
        margin: auto;
    }

    form {
        border: 1px solid blueviolet;
        padding: 5px 90px;
    }

}

@media screen and (min-width:425px) and (max-width:768px) {

    #formulario {
        width: 75%;
        margin: auto;
    }

    form {
        border: 1px solid blueviolet;
        padding: 5px 30px;
    }

}

@media screen and (max-width:425px) {

    #formulario {
        width: 100%;
        margin: auto;
    }

    form {
        border: 1px solid blueviolet;
        padding: 5px;
    }

    .listaPago {
        display: flex;
        justify-content: center;
        text-align: left;
    }

}