* {
    font-family: 'Caveat', cursive;
    background-color: aliceblue;
}


input {
    background-color: white;
    color: black;
    padding: 15px;
    margin: 5px;
    border: 2px dashed blueviolet;
    box-shadow: 5px 5px 10px rgb(134, 32, 182);
}

.btn {
    background-color: blueviolet;
    padding: 15px 25px;
    color: whitesmoke;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgb(59, 59, 59);
}

#formTarjetaCredito,
#formPayPal,
#formBizum {
    display: none;
}